@model Vic.Core.Utils.ResponseData.PageDataResponse<Vic.Core.Application.Dtos.ArticleDto>
@{
    ViewBag.Title = "Article";
}
<script type="text/javascript" src="~/lib/knockout/dist/knockout.js"></script>
<link rel="stylesheet" href="~/Themes/css/uniform.css" />
<link rel="stylesheet" href="~/Themes/css/select2.css" />
<div id="content-header">
    <div id="breadcrumb">
        <a href="/" title="首页" class="tip-bottom"><i class="icon-home"></i> 首页</a>
        <a href="#" class="current">Article</a>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <h5>
                        Article&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-mini btn-success" onclick="G.RedirectToUrl('/Article/Create');">新增</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-mini btn-danger commonDelete" url="/Article/Delete">批量删除</button>

                    </h5>
                </div>
                <div class="chat-message well">
                    <span class="input-box">
                        关键字查询：<input type="text" style="width:40%;margin-left:10px;" id="msg-box" name="key" placeholder="请输入名称、单号等关键字进行模糊查询" value="@Model.QueryData.Key" />
                        &nbsp;&nbsp;开始时间：<input type="text" style="width:10%;margin-left:10px;" id="msg-box1" name="BeginTime" value="@(Model.QueryData.BeginTime != null ? Model.QueryData.BeginTime.Value.ToString("yyyy-MM-dd") : "")">
                        &nbsp;&nbsp;结束时间：<input type="text" style="width:10%;margin-left:10px;" id="msg-box2" name="EndTime" value="@(Model.QueryData.EndTime != null ? Model.QueryData.EndTime.Value.ToString("yyyy-MM-dd") : "")">
                        <input type="submit" class="btn btn-success" style="margin-left:20px;" onclick="G.QueryList('/Article/Index')" value="查询">
                    </span>
                </div>
                <div class="widget-content ">
                    <table class="table table-bordered table-striped with-check">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" />
                                </th>
                                <th>ArticleTypeID</th>
                                <th>Author</th>
                                <th>BrowseNum</th>
                                <th>Content</th>
                                <th>创建时间</th>
                                <th>Description</th>
                                <th>Images</th>
                                <th>LanguageTypeID</th>
                                <th>PublishDate</th>
                                <th>Remark</th>
                                <th>SeoTitle</th>
                                <th>SerialNumber</th>
                                <th>Source</th>
                                <th>Title</th>
                                <th>
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.Data != null && Model.Data.Any())
                                {

                                    foreach (var item in Model.Data)
                                    {
                                        <tr>
                                            <td>
                                                <input type="checkbox" id="" data-bind="attr:{id: $data.ID}" />
                                            </td>
                                            <td>@item.ArticleTypeID</td>
                                            <td>@item.Author</td>
                                            <td>@item.BrowseNum</td>
                                            <td>@item.Content</td>
                                            <td>@item.CreateTime</td>
                                            <td>@item.Description</td>
                                            <td>@item.Images</td>
                                            <td>@item.LanguageTypeID</td>
                                            <td>@item.PublishDate</td>
                                            <td>@item.Remark</td>
                                            <td>@item.SeoTitle</td>
                                            <td>@item.SerialNumber</td>
                                            <td>@item.Source</td>
                                            <td>@item.Title</td>
                                            <td>
                                                <div style="text-align:center">
                                                    <button class="btn btn-primary btn-mini singleEdit" url="/Article/Edit">编辑</button>&nbsp;&nbsp;
                                                    <button class="btn btn-danger btn-mini singleDelete" url="/Article/Delete">删除</button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }

                            }
                        </tbody>
                    </table>
                    <div class="pages">
                        @Html.Raw(Model.PageHTML)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Themes/js/jquery.uniform.js"></script>
<script type="text/javascript" src="~/Themes/js/select2.min.js"></script>
<script type="text/javascript" src="~/Themes/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Themes/js/matrix.tables.js"></script>
<script type="text/javascript" src="~/Themes/js/jquery.ui.custom.js"></script>
<script type="text/javascript" src="/Themes/jquery.datetimepicker.js"></script>

<script type="text/javascript">
    $('#msg-box1').datetimepicker({
        onGenerate: function (ct) {
            $(this).find('.xdsoft_date.xdsoft_weekend')

        },
        weekends: ['01.01.2014', '02.01.2014', '03.01.2014', '04.01.2014', '05.01.2014', '06.01.2014'],
        timepicker: false
    });
    $('#msg-box2').datetimepicker({
        onGenerate: function (ct) {
            $(this).find('.xdsoft_date.xdsoft_weekend')

        },
        weekends: ['01.01.2014', '02.01.2014', '03.01.2014', '04.01.2014', '05.01.2014', '06.01.2014'],
        timepicker: false
    });
</script>